	
	h1 { 
		border-color: #00FF ; 
		border-width: 2px; 
		border-style: solid; 
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 10px;
		}

	h2 { 
		border-color: #AAAAAA; 
		border-width: 2px; 
		border-style: solid; 
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 5px;
		}

	p {	margin-left: 10px;
		margin-right: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
		}

	div ul { 
		border-color: #00FF00;
		border-width: 2px; 
		border-style: solid; 
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
		}

	#espaciado {line-height: 30px;}
	