#titulo { color: teal; }

strong { color: red; }

.destacado { color: orange; }

#subtitulo { color: blue; }

a { color: red; }

em { color: blue; }

span.especial { color: purple; }

table, tr, th, td { border: darkslategrey 2px solid; border-collapse: collapse; padding: 5px; }

caption { color: blue; }

td { color: green; }

td strong { color: orange; }

th { color: red; }

th.especial { color: orange; }

#adicional p { color: olive; }

#adicional span#especial { color: fuchsia; }

#adicional a { color: green; }
